

  @font-face{
    font-family:CiscoSansTT Extra Light;
    font-style:normal;
    font-weight:400;
    src:url("https://github.com/davidepaula/km_template/tree/master/fonts/CiscoSansTTExtraLight.woff2") 
    format("woff2");
    font-display:fallback
  }

  @font-face{
    font-family:CiscoSansTT Thin;
    font-style:normal;
    font-weight:400;
    src:url("https://github.com/davidepaula/km_template/tree/master/fonts/CiscoSansTTThin.woff2")
    format("woff2");
    font-display:fallback
  }

  @font-face{
    font-family:CiscoSansTT Light;
    font-style:normal;
    font-weight:400;
    src:url("https://github.com/davidepaula/km_template/tree/master/fonts/CiscoSansTTLight.woff2")
    format("woff2");
    font-display:fallback
  }

  .km-container-article{
    background-color: white;
  }
  .km-container-header{
    background-color: white;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
   }
  .km-container-body{
    background-color: white;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .km-container-footer{
    background-color: white;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  img.KM_Cisco_Logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  h1.KM_Title {
    font: 32px/1.2 CiscoSansTT Extra Light,Helvetica,Arial,sans-serif;
    color: #00bceb;
    margin-left: 10px;
  }

  h1.KM_Headline{
    font: 16px/1.2 CiscoSansTT Light, Helvetica,Arial,sans-serif;
    color: #6a6b6c;
    font-weight: 700;
    margin-left: 10px;
    padding: 2%;
  }

  p.KM_Description {
    font: 16px/1.2 CiscoSansTT Thin, Helvetica,Arial,sans-serif;
    color: #6a6b6c;
    margin-left: 10px;
    margin-top: 16px;
    font-size: 20px;
    line-height: 1.5em;
  }

  p.KM_TOC {
    font: 18px/1.2 CiscoSansTT Thin, Helvetica,Arial,sans-serif;
    color: #6a6b6c;
    margin-left: 10px;
  }

  p.KM_Steps{
    font: 16px/1.2 CiscoSansTT Extra Light,Helvetica,Arial,sans-serif;
    color: #0d274d;
    margin-left: 10px;
    padding-left: 1.5rem;
  }

  .number-circle-list {
    list-style: none;
    padding-left: 1.5rem;
    counter-reset: circle-counter;
    font: 18px/1.2 CiscoSansTT Thin, Helvetica,Arial,sans-serif;
    color: #6a6b6c;
  }
  
  .number-circle-list--list-item {
    counter-increment: circle-counter;
    margin-bottom: 0.25rem;
  }
  .number-circle-list--list-item:before {
    content: counter(circle-counter);
    background-color: #e1e1e1;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: inline-block;
    font: 15px/1.2 CiscoSansTT Extra Light,Helvetica,Arial,sans-serif;
    line-height: 1.6rem;
    color: black;
    text-align: center;
    margin-right: 0.5rem;
    position: relative;
    top: -2px;
  }
  .number-circle-list--list-item:last-child {
    margin-bottom: 0;

  }
  .number-circle-list--list-item .number-circle-list--list-item {
    margin-left: 0.25rem;

  }
  
  .number-circle-list--primary-color .number-circle-list--list-item:before {
    background-color: #0d274d;
    color: white;
  }
  
  .number-circle-list--secondary-color .number-circle-list--list-item:before {
    background-color: #72c267;
    color: white;
  }
  
  .number-circle-list--tertiary-color .number-circle-list--list-item:before {
    background-color: #168dde;
    color: white;
  }

  p.KM_Steps{
    font-family: CiscoSansTT Light,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    color: #6a6b6c;
    margin-left: 10px;
  }

  a {
    font: CiscoSansTT Thin, Helvetica,Arial,sans-serif;
    color: #00bceb;
    text-decoration: none;
  }

  a:visited {
    font: CiscoSansTT Thin, Helvetica,Arial,sans-serif;
    color: #00bceb;
    text-decoration: none;
  }

  a:hover {
    font: CiscoSansTT Thin, Helvetica,Arial,sans-serif;
    font-weight: bold;
  }
  img.screenshot{
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  #km-table {
    font: 14px/1.2 CiscoSansTT Extra Light,Helvetica,Arial,sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #km-table td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #km-table tr:nth-child(even){background-color: #f2f2f2;}
  
  #km-table tr:hover {background-color: #ddd;}
  
  #km-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 5px;
    text-align: left;
    background-color: #0d274d;
    color: white;
  }


.hbox-note {
  width: 85%;
  height: 5%;
  border: 1px solid #838383;
  border-radius: 5px;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  font-family: CiscoSansTT Light,Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #6a6b6c;
  padding-left: 4%;
  padding-top: 1%;
  padding-bottom: 2%;
  padding-right: 1%;
}

.hbox-note::before {
  content: '';
  border-right: 1px solid #838383;
  height: 100%;
  position: absolute;
  background: #6abf4b;
  opacity: 70%;
  width: 30px;
  top: 0;
  bottom: 0;
  left: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.hbox-important::before{
  background: #fbab18;
}

.hbox-workaround::before{
  background: #00bceb;
}

.hbox-critical::before{
  background: #e2231a;
}

.hbox-tips::before{
  background: #1e4471;
}

#scenario {
  font: 14px/1.2 CiscoSansTT Extra Light,Helvetica,Arial,sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#scenario td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#scenario tr:nth-child(even){background-color: #f2f2f2;}

#scenario tr:hover {background-color: #ddd;}

#scenario th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  text-align: center;
  background-color: #0d274d;
  color: white;
}

#nba {
  font: 14px/1.2 CiscoSansTT Extra Light,Helvetica,Arial,sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#nba td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#nba tr:nth-child(even){background-color: #f2f2f2;}

#nba tr:hover {background-color: #ddd;}

#nba th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  text-align: center;
  background-color: #0d274d8a;
  color: white;
}

.km-bold{
  font-weight: 900;
  color: rgb(53, 53, 53);
}